# 编译产物
*.exe
*.obj
*.o
*.lib
*.pdb
*.ilk
*.idb
*.exp
*.recipe
*.tlog
*.lastbuildstate

# 输出
*.ppm
*.png

# CUDA 临时文件
*.ptx
*.cubin
*.fatbin
tmpxft_*

# 构建目录
build/

# IDE
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake